<%- include('../partials/header', {
    title: "Beer Index Page"
}) %>
<h1>Beer Index Page</h1>

<ul>
    <% beers.forEach(beer => { %>
        <li><a href="/beers/<%=beer._id%>"><%= beer.name %></a></li>
    <% }) %>
</ul>
<a href="/beers/new">Create New Beer</a>


<%- include('../partials/footer') %>